## DB credentials
credentials.r

## R ouputs
*.Rout
ggmapTemp.png
.Rapp.history

#Mac scrap
.DS_Store

## Data
out_files/*.rdata
out_files/*.csv
out_files/fut_Initclim_STM/
out_files/fut_clim/
!out_files/shp_stm_area.rdata
out_files/shapefiles/*
!out_files/plots_map.png
reshape/*.rdata
*Occurence*.csv
*.rds
*.RData

# python modules
*.pyc

#Personal config
con_quicc_db_local.r
explo_crs_data.r
