## DB credentials
credentials.r

## R ouputs

.RData
*.Rout
ggmapTemp.png
.Rapp.history

## Data
out_files/*
!out_files/shapefiles/
!out_files/plots_map.png
reshape/*.rdata

# python modules
*.pyc

#Personal config
con_quicc_db_local.r
explo_crs_data.r